<!DOCTYPE html>
<html>
<head>
  <title>T9 SMS Decoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <h3>T9 SMS Decoder</h3>
  </div>
  <div class="body">
    <%= yield %>
  </div>

<div class="footer">
    <h6>&copy; Rajesh Rajan</h6>
  </div>
</body>
</html>
